<!DOCTYPE html>
<html lang="en">
<head>
  <title>Page counter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <style>
     table,th,tr,td{
       border : 1px solid black
     }
      
  </style>
</head>
<body >
  <table>
    <h1> Students Data</h1>
    <th>ID</th>
    <th>NAME</th>
    <th>ROll</th>
    <th>CITY</th>
    <th>MARKS</th>
    <th>PASS_DATE</th>
    {% for stud in students %}
    <tr>
      <td>{{stud.id}}</td>
      <td>{{stud.name}}</td>
      <td>{{stud.roll}}</td>
      <td>{{stud.city}}</td>
      <td>{{stud.marks}}</td>
      <td>{{stud.pass_date}}</td>
    </tr>
    {% endfor %}
</table>
  
</body>
</html>